
/* ===================== Main ===================== */
.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.table{
    width: 100%;
    height: 100%;
}
.table_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(240, 240, 240);
}
.table_header p{
    color: #000000;
    font-weight: bold;
}
button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
}

.delete-button,
.confirm-button{
    background-color: #29b6f6;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.delete-button:hover,
.confirm-button:hover {
    background-color: #0277bd;
}
.table_section{
    height: 100%;
    overflow: auto;
}
table{
    width: 100%;
    table-layout: fixed;
    min-width: 900px;
    border-collapse: collapse;
}
thead th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}
th,td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}
tr:hover td{
    color: #0298cf;
    cursor: pointer;
    background-color: #f6f9fc;
}
::placeholder{
    color: #0298cf;
}
::-webkit-scrollbar{
    height: 5px;
    width: 50px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.hidden {
    display: none;
}

/* Style for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}
.modal-content {
    margin: auto;
    display: block;
    max-height: 80%;
    max-width: 80%;
}
.modal-img {
    width: 100%;
    height: auto;
}
/* CSS for the form */
.add-product-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical; /* Allow vertical resizing */
}

button[type="submit"] {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Optional: Style for error messages */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
