
.form {
    margin-bottom: 200px; /* Adjust the value as needed */
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(25px);
    padding: 6px 14px;
    z-index: 9;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 275px;
}
.sidebar .logo-info{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}
.sidebar .logo-info .icon{
    font-size: 28px;
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar .logo-info h2{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar.active .logo-info .icon,
.sidebar.active .logo-info h2{
    opacity: 1;
}
.sidebar .logo-info #menu{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    transition: all;
}
.sidebar.active .logo-info #menu{
    text-align: right;
}
.sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}
.sidebar ul{
    margin-top: 20px;
    height: 100%;
}
.sidebar ul li{
    position: relative;
    list-style: none;
    margin: 8px 0;
}
.sidebar ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all 0.4s;
}
.sidebar ul li a:hover{
    background: rgba(255, 255, 255, 0.3);
}
.sidebar ul li a .title{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.sidebar.active ul li a .title{
    opacity: 1;
    pointer-events: auto;
}
.sidebar ul li a i{
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
}
.sidebar ul li:last-child{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    padding: 10px 14px;
    transition: all 0.5s ease;
}
.login-link {
    text-decoration: none;
    color: inherit;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #3B5998;
    color       : #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #fff;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}